$column-width: 60px;
$gutter-width: 20px;


@mixin grid-unit($span) {
  float: left;
  margin-right: $gutter-width;
  width: ($column-width * $span) + ($gutter-width * ($span - 1));
  }

.container {
  @include grid-unit(12);
  float:none;
  margin: 0 auto;
}

.main-content {
  @include grid-unit(8);
}

.sidebar {
  @include grid-unit(4);
  margin-right: 0;
}

$input-color: rgb(252, 252, 252);
$red: #ff404c;
$almostwhite: rgb(247, 247, 247);
$lightgray: rgb(207, 207, 207);

.small-button {
  color: $red;
  border-radius: 10px;
  padding: 4px 8px;
  margin-top: 2px;
}

.regular-button {
  color: $red;
  border-radius: 40px;
  padding: 4px 8px;
  border: 1px solid gray;
}

.bg-red {
  background-color: $red;


.bg-almostwhite {
  background-color: $almostwhite;
}

.bg-ligthgray {
  background-color: $lightgray;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}
}
